<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.3/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="Symfony Test Suite">
            <directory>./src/Symfony/Bridge/*/Tests/</directory>
            <directory>./src/Symfony/Component/*/Tests/</directory>
            <directory>./src/Symfony/Component/*/*/Tests/</directory>
            <directory>./src/Symfony/Component/*/*/*/Tests/</directory>
            <directory>./src/Symfony/Contracts/*/Tests/</directory>
            <directory>./src/Symfony/Bundle/*/Tests/</directory>
        </testsuite>
    </testsuites>

    <source ignoreSuppressionOfDeprecations="true">
        <include>
            <directory>./src/Symfony/</directory>
        </include>
    </source>
</phpunit>
